body{
	background:#E0E0E0;background-image:url(../images/fondo2.jpg);
	background-size:100%;
	background-repeat:repeat-y;
	background-attachment:fixed;
	color:#000;
	font-family:"Lato",sans-serif;
	font-size:18px
}
header{
	background:#01579B;
	top:0;
	padding:.1rem;
	color:#fff
}
header figure img{
	display:none
}
header h2,input[type = text],.btn-div,.center{
	text-align:center
	}
.controls{
	width:80%;
	margin:0 auto;
}
.controls article{
	display:inline-block
}
.controls article .radio{
	text-align:left
}
.form-group .question label{
	font-size:1.2em;
}
.next{
	font-size:40px;
	margin:0 auto;
}
.radio{
	padding:.3em;
}
.radio:hover{
	background:#1B5E20;
	border-radius:.4em;
	color:#FFF;
	padding:.3em;
	-webkit-box-shadow:7px -8px 16px -7px rgba(0,176,47,1);
	-moz-box-shadow:7px -8px 16px -7px rgba(0,176,47,1);
	box-shadow:7px -8px 16px -7px rgba(0,176,47,1);
}
.form-group{
	margin:5px;
}
.radio label{
	width:100%;
}
.subText{
	font-size:1.4em;
}
@media screen and (min-width: 800px){
	.form-group .question label{
		font-size:2em;
	}
	.form-group,.iA{
		margin:140px 0 0;
	}
	.radio{
		font-size:1.2em;
	}
	.iA div h3{
		font-size:2.2em;
		font-weight:700;
	}
}
@media screen and (max-width: 800px){
	.fechas_{
		flex-direction:column;
	}
	.fechas_ div{
		margin: 0 0 5px 0;
	}
	
}
.idiomas{
	text-align:center;
	margin:0 auto;
}
.idiomas div a{
	display:block;
	width:200px;
	margin-top:10px;
}
.botones-idioma{
	text-align:center;
}
.botones-idioma div{
	display:inline-block;
}
footer div img{
	width:150px;
}
footer div{
	text-align:center;
	margin:100px;
}
.fechas_{
	display: flex;
	justify-content: space-between;
}
.fechas_ div{
	width: 250px;
}
