#login{
	background-color:#EEEEEE;
	padding-top:15px;
}
#login .form-group input{
}
#login .form-group input[type="password"], #login .form-group input[type="email"]{
	text-align:left;
	width:100% !important
}
h2{
	text-align: center;
	font-size: 50px;
}
#loginBody{
	z-index:10;
	position:relative;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,.05);
	text-align:center;
	width:40%;
	margin:80px auto;
	padding:30px;
}
#loginBarra{
	position:absolute;
	left:0;
	right:0;
	height:130px;
	top:205px;
	z-index:-10;
	background:#01579B;
}
#loginFooter{
		color:#FFF;
		position:absolute;
		text-align:center;
		width:100%;
		z-index:10;
}
.logos img{
	width: 100px;
}
.logos{
	text-align: center;
}